build/*
docs/_build/*
gh-pages/*
lib/
bin/

*.so
*.log
*.nc
*.nc4
!*testfields*.nc
out-*
*.c
*.pyc
*.dSYM/*
**/*.zarr/*

.idea/*
Profile.prof
.ipynb_checkpoints/*
**/.ipynb_checkpoints/*
parcels/examples/.ipynb_checkpoints/*
.cache/*
.pytest_cache/*
.eggs/*
parcels.egg-info/*
dist/parcels*.egg
parcels/examples/particle*.png
parcels/_version_setup.py
/.pytest_cache/
