build/*
docs/_build/*
gh-pages/*

*.so
*.log
*.nc
*.nc4
!*testfields*.nc
out-*
*.c
*.pyc
*.dSYM/*

.idea/*
Profile.prof
.ipynb_checkpoints/*
*/.ipynb_checkpoints/*
parcels/examples/.ipynb_checkpoints/*
.cache/*
.pytest_cache/*
.eggs/*
parcels.egg-info/*
dist/parcels*.egg
parcels/examples/particle*.png
parcels/_version.py
