build/*
docs/_build/*
docs/_downloads
lib/
bin/
parcels_examples

# asv environments
asv_bench/.asv
asv_bench/pkgs

*.so
*.log
*.nc
*.nc4
!*testfields*.nc
out-*
*.c
*.pyc
*.dSYM/*
**/*.zarr/*
.DS_store

.vscode
.env
Profile.prof
**/.ipynb_checkpoints/*
.cache/*
.eggs/*
parcels.egg-info/*
dist/parcels*.egg
parcels/_version_setup.py
.pytest_cache
.coverage
